
body {
    max-width: 100vw;
    margin: 5vh 15vw 5vh 15vw;
    text-align: center;
    vertical-align: top;    
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: aqua;
}
h1, h2, #job1-header, #job2-header, #job3-header {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 50px;
}
header {
    background-color: antiquewhite;
}
.content-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(44, 224, 50);
}

.resume-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 76, 246);   
    text-align: left; 
    width: 200%;
    padding: 0px 20px 0px 20px;
}

.profile-container {
    background-color: rgb(82, 94, 251);
}
#profile-header{
    display: flex;
    flex-direction: row;
    background-color: rgb(127, 136, 254);
    justify-content: space-between;
}

#profile-header h2, #profile-header h4 {
    align-self: flex-end;
    margin-bottom: 0;
}

#profile-text {
    background-color: rgb(114, 123, 251);
}

.job1-container {
    background-color: rgb(251, 175, 82);
}
#job1-header{
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 197, 127);
    justify-content: space-between;
}

#job1-header h2, #job1-header h4 {
    align-self: flex-end;
    margin-bottom: 0;
}

#job1-text {
    background-color: rgb(251, 182, 114);
}

.job2-container {
    background-color: rgb(251, 82, 228);
}
#job2-header{
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 127, 254);
    justify-content: space-between;
}

#job2-header h2, #job2-header h4 {
    align-self: flex-end;
    margin-bottom: 0;
}

#job2-text {
    background-color: rgb(251, 114, 251);
}
.job3-container {
    background-color: rgb(251, 175, 82);
}
#job3-header{
    display: flex;
    flex-direction: row;
    background-color: rgb(254, 197, 127);
    justify-content: space-between;
}
#job3-header h2, #job3-header h4 {
    align-self: flex-end;
    margin-bottom: 0;
}
#job-text {
    background-color: rgb(251, 182, 114);
}

.details-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    text-align: left; 
    padding: 0px 20px 0px 20px;
}

#contact h4 , #skills h4 {
    margin-bottom: -10px;
}

#contact, #skills {
    margin-bottom: 25px;
} 


#contact-link, #skills-link, #education-link {
    display: none;
}


@media screen and (max-width: 1150px) {
  
    .content-container {
        flex-direction: column;        
    }
    .resume-container {
        display: contents;
    }
    .details-container {
        display: flex;
        flex-direction: row;
        background-color: red;
        text-align: left;
        padding: 0px 20px 0px 20px;
    }

    .contact-container,
    .skills-container,
    .education-container {
        width: 100%;
    }

    #contact-text,
    #skills,
    #education {
        padding: 20px; 
    }

    #contact-link {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    .details-container {
        display: flex;
        flex-direction: column;
        background-color: red;
        text-align: center;
    }
    #buttons {
        display: flex;
        justify-content: space-around;
       
    }
    #contact-link, #skills-link, #education-link {
        display: flex;
      

    }
  
}
